.asset-overview-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
  }

  .asset-overview-modal .asset-overview-modal {
    z-index: 1060; /* Increment z-index for nested modals */
}

.asset-overview-modal .asset-overview-modal .asset-overview-modal {
  z-index: 1070; /* Increment z-index for nested modals */
}
  
  .asset-overview-content {
    max-width: 1000px;
    min-width: 700px;
    max-height: 800px;
    overflow-y: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1051;
  }
  
  .asset-overview-close {
    cursor: pointer;
    background-color: #f44336;
    border: none;
    color: white;
    margin-left: 90%;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .asset-details {
    margin-bottom: 20px;
  }
  
  .pending-assets-list {
    list-style: none;
    padding: 0;
  }
  
  .overview-map-container {
    width: 100%; /* Adjust width as needed */
    height: 400px;
}

.overview-contact-info{
  margin-left: 20px;
}

.overview-description{
  display: flex;
  margin-top: 1em;
  margin-left: 5px;
}

.overview-description-container{
  display: flex;
}
