footer {
    background-color: #009BEF; 
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ccc; 
    bottom: 0;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
}

.footer-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-content a{
    color: #fff;
}

.footer-content img{
    margin-left: 5px;
}

.footer-content p {
    margin: 5px 0; /* Add margin for spacing */
    
}