.app-header {
    width: 100%;
    max-width: 100%;
    color: #09579d;
    font-family: sans-serif;
    position: static;
    display: flex;
    height: 80px;
    justify-content: center;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
    padding-right: 40px;
    background-color: #ffffff; /* Light background color */
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 100px; /* Logo size */
    height: auto;
    margin-left: 10px;
}

.auth-buttons {
    display: flex;
    gap: 5px; /* Space between buttons */
    margin-right: 30px;
    justify-content: flex-end;
}


.social-media {
    align-items: center;
    display: flex;
    gap: 10px; /* Space between icons */
}

.social-media img {
    width: 24px; /* Icon size */
    height: 24px;
}
