.app-header {
    min-width: 1200px;
    color: #09579d;
    font-family: sans-serif;
    position: static;
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
    gap: 700px;
    padding: 5px;
    align-items: center;
    background-color: #ffffff; /* Light background color */
}

.logo img {
    width: 100px; /* Logo size */
    height: auto;
    margin-left: 10%;
}

.auth-buttons {
    display: flex;
    gap: 5px; /* Space between buttons */
}

.main-page-button, .admin-page-button, .navigator-page-button, .add-asset-button, .logout-button, .login-button {
    width: fit-content;
    background-color:  #09579d;
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding for button */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.main-page-button:hover, .admin-page-button:hover, .navigator-page-button:hover, .add-asset-button:hover, .login-button:hover, .logout-button:hover {
    background-color: #009BEF; /* Darker shade on hover */
}


.social-media {
    align-items: center;
    display: flex;
    gap: 10px; /* Space between icons */
}

.social-media img {
    width: 24px; /* Icon size */
    height: 24px;
}
