
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.button-confirm {
    background-color: #4CAF50;
    color: white;
}

.button-cancel {
    background-color: #f44336;
    color: white;
}
