.navigator-container {
  display: flex;
  width: 100%;
  height: 100vh; /* Full viewport height */
}

.navigator-sidebar {
  flex: 1;
  background-color: #f4f4f4;
  padding: 20px;
  border-right: 2px solid #ccc;
}

.navigator-content {
  flex: 3;
  padding: 20px;
}

.navigator-nav {
  list-style: none;
  padding: 0;
}

.navigator-nav li {
  padding: 10px;
  margin-bottom: 8px;
  background-color: #09579d;
  cursor: pointer;
  color: #ffff;
}

.navigator-nav li:hover {
  background-color: #007bff;
}

.navigator-section {
  display: none; /* Hide all sections initially */
}

.navigator-section.active {
  display: block; /* Only display the active section */
}

.notification-section {
  padding: 20px;
  background-color: #f0f7ff; /* Light blue background */
}

.notification-item {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #e0e8ff; /* Slightly darker blue for contrast */
  cursor: pointer;
  transition: background-color 0.3s;
}

.notification-item:hover {
  background-color: #cad2f7; /* Even darker on hover */
}

.notification-item.edit {
  background-color: #d1eaf5; /* Different color for edits */
}

/* NavigatorPage.css */
.nav-list-container {
  margin-bottom: 50px;
}

.nav-list {
  max-height: 300px; /* Adjust based on your preference */
  overflow-y: auto;
  padding: 10px;
  border-radius: 5px; /* Optional: rounded corners */
}

.nav-asset-item {
  padding: 8px;
  margin: 2px;
  cursor: pointer; /* Indicates the item is clickable */
  background-color: white; /* Background for each item */
  border: 1px solid #ddd; /* Border for each item */
  border-radius: 3px; /* Rounded corners for each item */
}
