/* ResetPassword.css */

/* Input field styles */
.input-newpass[type="password"], .input-confirmpass[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    margin-bottom: 15px;
    font-size: 16px;
}

/* Button styles */
.form-button[type=submit] {
    padding: 10px 15px;
    background-color: #009BEF; /* Bootstrap primary color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 421.6px;
}

button[type=submit]:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}

.label-newpass,
.label-form {
    display: block; /* Ensure labels are block elements */
    margin-bottom: 5px; /* Space between label and input */
    text-align: center; /* Align text to the left */
}

.form-reset {
    text-align: center; /* Ensure the form is centered */
}

.form-reset div {
    width: auto;
}
