html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  flex-direction: column;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: #ffffff; /* white background */
  color: #333333; /* darker text for readability */
}

#root {
  width: 100%;
  margin: 0;
}

.app-content {
  width: 100%;
  flex: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: auto;
  text-align: left;
}


.btn-primary {
  display: inline-flex; /* Ensures content stays on one line */
  align-items: center; /* Vertically centers text */
  justify-content: center;
  white-space: nowrap; /* Prevents text from wrapping */
  width: auto; /* Adapts to content size */
  min-width: max-content; /* Ensures minimum width matches content */
  background-color: #09579d;
  height: 45px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.btn-primary:hover {
  background-color: #009bef;
}